body{
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif; 
    margin: 80px;
    font-size: large;
    line-height: 1.5rem;
    letter-spacing: 0.05cap
}
p{
    text-align: left; 
}
.right{
    text-align: right;
}
li{
    margin-left: 10px;    
}
n{
    list-style: none;
}
no{
    list-style: none;
}
.eleonor{
   margin-top: 80px;
}